.contactContainer {
    background: #fdcf63;
    padding: 50px 0;
}
.contactContainer .row {
    margin-bottom: 50px;
}
.contactForm input,.contactForm textarea {
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
}
.contactForm textarea {
    height: 200px;
}
.contactForm input:focus,.contactForm textarea:focus {
    background-color: #f1eaea;
    outline: none;
}

.contactForm button{
    width: 120px;
}